<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
<head>
    <title>MasterPlan</title>
    <link href="#{request.contextPath}/styles.css" rel="styleSheet" type="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>

<body>
<div id="container">
    <div id="header">
        <h:form>
            <h:commandButton value="&lt;" action="#{helloWorld.previous}"/>
            <h:outputText value="  #{helloWorld.date} "/>
            <h:commandButton value="&gt;" action="#{helloWorld.next}"/>
        </h:form>
    </div>
    <div id="body"></div>
    <div id="footer">
        <h:outputText value="Version: #{helloWorld.version}"/>
    </div>
</div>
</body>
</html>