html,
body {
   margin:0;
   padding:0;
   height:100%;
}

#container {
   min-height:100%;
   position:relative;
}

#header {
   background:#6cf;
   height:20px;
}

#body {
   padding:20px;
   padding-bottom:20px;
}

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:20px;
   background:#6cf;
}